/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
 /* background-image: url("../images/branchaweb-3000x2250.jpg"); */
}

.navbar {
  background-color: #DAE8AE;
  margin-bottom: 0px;
}

.jumbotron {
  background-color: #61AD58;
  margin-bottom: 0px;
  color: white;
}

#projects {
 margin-bottom: 0px;
 padding-bottom: 10px;
 color: #555757;
}

#projects, h2, .h2, h3, p {
  text-align: center;
  color: #555757;
}

#projects, .caption {
  color: #555757;
}

#connect {
  background-color: #61AD58;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#connect, h2 {
  color: white;
  padding-bottom: 5px;
}

#footer {
  background-color: #61AD58;
  text-align: center;
}

#footer, h3, p {
  color: white;
}