/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#projects, h2, .h2 {
  text-align: center;
}

body {
  background-image: url("../images/branchaweb-3000x2250.jpg");
}

#navbar {
  background-color: greenyellow;
  margin-bottom: 0px;
}

.jumbotron {
  background-color: #3D5813;
}

.jumbotron, h1, p {
  color: white;
}

#projects, h2 {
  text-align: center;
  margin-bottom: 25px;
}

#projects, .caption {
  color: white;
}

#connect {
  margin-bottom: 25px;
}

#connect, h2 {
  color: white;
}

#footer {
  background-color: #3D5813;
  text-align: center;
}

#footer, h3, p {
  color: white;
}